.first-img {
  height: 280px;
  object-fit: cover; /* Important to keep image proportionate and crop nicely */
}


.second-img-div {
    height: 500px;
}


.second-img {
    object-fit: cover;
}

/* all new featured images style */
.new-feature {
    object-fit: cover;
}

.new-product-div {
    height: 600px;
}

.new-feature-div {
    height: 50%;
}